In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Load the dataset using pandas
data = pd.read_csv("VOW3DE.csv")
data.head(5)

         Date       Open       High        Low      Close  Adj Close  Volume
0  1998-07-22  63.148163  65.053703  63.148163  64.596451  34.570709   56336
1  1998-07-23  65.308174  65.816116  61.750568  61.750568  33.047661   95571
2  1998-07-24  60.988155  62.258514  59.869881  61.496101  32.911476  154423
3  1998-07-27  61.496101  62.005039  59.463329  59.717796  31.959759   62875
4  1998-07-28  59.209850  61.445404  57.837109  58.294357  31.197968  116194